<div class="text-gray-800 bg-white border border-gray-100 shadow-sm flex justify-between rounded-md p-4">
  <div class="rounded-md overflow-hidden">
<Product::Image src={{this.item.pic}} width="208px" height="152px"
                alt="A picture of {{this.item.name}}"/></div>
<div class="flex-grow h152 grid grid-cols-1 content-between pl-6">
<div>
<div class="flex justify-between"><div class="text-xl font-bold">  {{this.item.name}}</div>
{{# if this.cart.itemsGroups}}
  <div class="hidden">{{this.getGroupAmount}}</div>
<div class="text-xl">{{this.currency.symbol}}{{this.trr}}</div>
  {{/if}}
</div>
  <div class="flex justify-start mt-4">
  <div class="text-xs min-w-min p-2 font-medium rounded-md bg-teal-100">
  {{this.discountText}}
  </div>
  </div>
</div>

<CartButton @group={{this.group}}/>

</div>
</div>