{{# if @product}}

<a href="#" class="group rounded-lg border border-gray-100 shadow-sm overflow-hidden">
  <div class="relative">
<Product::Image  src={{@product.pic}} width="100%"
                 alt="A picture of {{@product.name}}"/>
    <DiscountBlock @text="{{this.discountText}}"/>
     </div>
  <div class="flex p-4 justify-between  content-end">
    <div>
  <h3 class="mt-4 text-xl font-bold text-gray-700">{{@product.name}}</h3>

  <p class="mt-1 text-lg font-medium text-gray-900">{{this.currency.symbol}}{{@product.price}}</p>

    </div>
  <div class="sm:ml-3 grid content-end">



      <CartButton  @group={{this.group}} />

    </div></div>
</a>
{{/if}}